# OS X
.DS_Store

# Swift Package Manager
.build
Package.resolved

# Xcode user settings
xcuserdata/

# Generated benchmarks
Resources/benchmarks/atlas.html
Resources/benchmarks/colossal.html
Resources/benchmarks/mega.html
Resources/benchmarks/omega.html
Resources/benchmarks/titan.html

# Local vendor checkouts
vendor/
