name: macOS Swift



on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Swift on ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15]
        
    runs-on: ${{ matrix.os }}

    steps:
    - name: Print Swift version
      run: swift --version
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
    - name: Run tests (libxml2 backend)
      run: SWIFTSOUP_TEST_BACKEND=libxml2 swift test -v
    - name: Run tests (libxml2 skip fallbacks)
      run: SWIFTSOUP_TEST_BACKEND=libxml2 SWIFTSOUP_TEST_LIBXML2_SKIP_FALLBACKS=1 swift test -v --filter Libxml2SkipFallback
